<div class="modal-header">
  <h4 class="modal-title">User Details</h4>
</div>
<div class="modal-body">
  <form [formGroup]="configForm" (ngSubmit)="onSubmit()">
    <div class="container">
      <div class="form-group">
        <label for="userName">Name:</label>
        <input formControlName="userName" type="text" class="form-control" id="userName" aria-describedby="nameHelp" placeholder="Enter Name">
        <span *ngIf="!configForm.get('userName').valid && configForm.get('userName').touched" class="help-block">Enter a valid user name.</span>
      </div>
      <div class="form-group">
        <label for="userDodid">DoD ID:</label>
        <input formControlName="userDodid" type="tel" class="form-control" id="userDodid" placeholder="DoD ID">
        <small id="dodidHelp" class="form-text text-muted">Ten-digit number located on the back of your CAC.</small>
        <span *ngIf="!configForm.get('userDodid').valid && configForm.get('userDodid').touched" class="help-block">Enter a valid DoD ID.</span>
      </div>
      <div class="form-group">
        <label for="userPosition">Duty Position:</label>
        <select formControlName="userPosition" class="form-control" id="userPosition">
        <option value ="">Select Position</option>
			  <optgroup label="Pilots">
				  <option value="EP">Evaluator Pilot</option>
				  <option value="IP">Instructor Pilot</option>
				  <option value="MP">Mission Pilot</option>
				  <option value="FPQ">Co-Pilot "Q"</option>
				  <option value="FPC">Co-Pilot "C"</option>
			   </optgroup>
			  <optgroup label="Booms">
			  	  <option value="EB">Evaluator Boom</option>
				  <option value="IB">Instructor Boom</option>
				  <option value="MB">Mission Boom</option>
				  <option value="FB">First Boom</option>
			  </optgroup>
    </select>
        <span *ngIf="!configForm.get('userPosition').valid && configForm.get('userPosition').touched" class="help-block">Must select a position.</span>
      </div>

      <div class="form-group">
        <label for="userSquadron">Squadron:</label>
        <select formControlName="userSquadron" class="form-control" id="userSquadron">
          <option value ="">Select Squadron</option>
				  <option value="92">92 ARS</option>
				  <option value="93">93 ARS</option>
				  <option value="384">384 ARS</option>
          <option value="116">116 ARS</option>
          <option value="509">509 WPS</option>
    </select>
        <span *ngIf="!configForm.get('userSquadron').valid && configForm.get('userSquadron').touched" class="help-block">Must select a squadron.</span>

      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>
</div>
<div class="modal-footer">
</div>