<h3>Crewmembers:</h3>

<table class="table table-striped">
	<thead>
		<tr>
			<th>DoD ID</th>
			<th>Name</th>
			<th>Position</th>
			<th>Squadron</th>
			<th>A-Code</th>
			<th></th>
		</tr>
	</thead>
	<tbody class=''>


		<tr *ngFor="let crewmember of crwDb; let i = index">
			<th>{{ crewmember.dodid }} </th>
			<th>{{ crewmember.name }}</th>
			<th>{{ crewmember.position }}</th>
			<th>{{ crewmember.squadron }}</th>

			<th><input type="radio" name="radioACode" value="{{ crewmember.alfa }}" [checked]="crewmember.alfa" (click)="setAlfa(i)"/></th>
			<th><button class="btn btn-danger btn-lg" (click)="onDelete(i)">Delete</button></th>
		</tr>
	</tbody>
</table>
<hr>
<button class="btn btn-primary btn-lg btn-block" (click)='addCrewmember()'>Add Crewmember</button>