<app-header></app-header>
<h1>
  {{title}}
</h1>

<app-setup></app-setup>
<!--<button class="btn btn-primary" (click)="onMissionAdd([num.value,leg.value])">Add</button>
<button class="btn btn-primary" (click)="onMissionDelete()">Delete</button>
<input type="text" name="num" value="" #num/>

<input type="text" name="leg" value="" #leg/>

<input type="text" name="" value="" #name>
<button class="btn btn-primary" (click)="onCrewmemberAdd([num.value,leg.value],name.value)">Add Crew</button>
<ngb-timepicker [(ngModel)]="time"></ngb-timepicker>

<button class="btn btn-primary" (click)="onCrewmemberDeleteAll([num.value,leg.value])">Delete all crew from mission</button>-->