<h2>8UN42TB01232</h2>
<h5>Leg: 1</h5>

<form [formGroup]="msnGeneralForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="symbol">Symbol:</label>
    <input formControlName="symbol" type="text" class="form-control-lg" id="symbol" placeholder="">
    <span *ngIf="!msnGeneralForm.get('symbol').valid && msnGeneralForm.get('symbol').touched" class="help-block">Enter a valid Symbol.</span>
  </div>

  <div class="form-group">
    <label for="purpose">Purpose:</label>
    <select class="form-control-lg" id="purpose" formControlName="purpose">
      <option *ngFor="let codes of PURPOSE">{{ codes.code }}</option>
    </select>
  </div>

  <div class="form-group">
    <label for="msnAuth">Auth:</label>
    <input formControlName="auth" type="tel" class="form-control-lg" id="auth" placeholder="">
    <span *ngIf="!msnGeneralForm.get('auth').valid && msnGeneralForm.get('auth').touched" class="help-block">Enter a valid Auth.</span>
  </div>

  <div class="form-group">
    <label for="tail">Tail:</label>
    <input formControlName="tail" type="tel" class="form-control-lg" id="tail" placeholder="" [ngbTypeahead]="search">
    <span *ngIf="!msnGeneralForm.get('tail').valid && msnGeneralForm.get('tail').touched" class="help-block">Enter a valid Tail.</span>
  </div>


  <div class="form-group">
    <label for="callsign">Call Sign:</label>
    <input formControlName="callsign" type="text" class="form-control-lg" id="callsign" placeholder="AFRCE01">
    <span *ngIf="!msnGeneralForm.get('callsign').valid && msnGeneralForm.get('callsign').touched" class="help-block">Enter a valid Call Sign.</span>
  </div>
</form>
<h2 *ngIf="taildetails"> {{taildetails.selcal}}, {{taildetails.hex}}, KC-135{{taildetails.model}}</h2>


<!--<div *ngIf="purposes">
<<select>
<option *ngFor="let x of purposes">{{ x }}</option>
</select> 
</div>-->